/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* Variables */
:root {
	--font-family: 'Roboto', sans-serf 'Anton', sans-serif;
	--normal-font: 400;
	--bold-font: 700;
	--bolder-font: 900;
	--bg-color: #fcfcfc;
	--primary-color: #175eb5;
	--secondary-color: #ff7235;
	--primary-shadow: #1122dbe1;
	--secondary-shadow: #a17a69;
	--bottom-margin: 0.5rem;
	--bottom-margin-2: 1rem;
	--line-height: 1.7rem;
	--transition: 0.3s;
}
/* Variables end */

html {
	scroll-behavior: smooth;
	font-size: larger;
	box-sizing: border-box;
}

/* CSS Resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

a:hover {
	color: var(--secondary-color);
}

body {
	font-family: var(--font-family);
}

nav .text-animation {
	color: #c16a0e8a;
}
/* navigation section */
nav {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 3.5rem;
	background-color: var(--bg-color);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
nav h1 {
	color: var(--primary-color);
}

nav a {
	color: var(--primary-color);
	transition: var(--transition);
}
nav a:hover {
	color: var(--secondary-color);
	border-bottom: 2px solid var(--secondary-color);
}

nav ul {
	display: flex;
	gap: 9.9rem;
}

nav ul li {
	font-weight: var(--bold-font);
}
.burger-menu {
	color: var(--primary-color);
	font-size: 2rem;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	display: none;
}
/* hero section  */
.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2.5rem;
	max-width: 68.75rem;
	margin: auto;
}
.hero img {
	height: 30.5rem;
	width: 50.5rem;
	background-color: antiquewhite;
	border-radius: 10%;
}

.bio {
	width: 35rem;
	padding: 1rem;
	border-radius: 6px;
	box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}
button a #btn {
	display: flex;
	padding: 3rem;
}
.bio h1 {
	margin-bottom: var(--bottom-margin);
}

.bio p {
	line-height: var(--line-height);
	padding: 0.3rem 0;
}

/* more about me  */
.more-about {
	background-color: var(--bg-color);
	padding: 1rem 6rem;
	box-sizing: border-box;
	box-shadow: 3px #33475b;
}

.more-about h2 {
	margin-bottom: var(--bottom-margin);
	text-align: center;
	color: #35618d;
}

.more-about p {
	line-height: var(--line-height);
	padding: 0.4rem;
	white-space: normal;
}

/* skills  */
.skills {
	max-width: 68.75rem;
	margin: auto;
	text-align: center;
	margin-top: 2.5rem;
}

.skill-header {
	margin-bottom: 1rem;
	color: #35618d;
}

.skills-wrapper img {
	padding: 1.25rem;
}

.icon {
	width: 11.875rem;
	height: 11.25rem;
}

.icon-card {
	background-color: #fff;
	border-radius: 11px;
	box-shadow: 0 3px 10px var(--secondary-shadow);
	padding: 20px;
	margin: 10px;
}

/* projects  */
.projects {
	background-color: var(--bg-color);
	padding: 32px 0;
	margin-top: 2rem;
	box-sizing: border-box;
}

.project-pic {
	width: 45%;
	height: 40%;
}

.projects-container {
	display: flex;
	align-items: stretch;

	justify-content: center;
	padding: 3rem;
	box-shadow: #33475b;
	box-sizing: border-box;
	border-radius: 50%;
}

.projects-title {
	text-align: center;
	margin-bottom: 1rem;
	color: #35618d;
}

.project-container {
	text-align: center;
	width: 21.875rem;
	padding: 1rem;
}
.project-container p {
	padding: -3rem;
	text-align: center;
	box-sizing: border-box;
	margin-bottom: 10rem;
}

.project-title {
	margin-bottom: var(--bottom-margin);
}

.project-details {
	margin-bottom: var(--bottom-margin);
	box-sizing: border-box;
	max-width: 67rem;
	margin-top: 3rem;
}

.project-card {
	background-color: #fff;
	border-radius: 11px;
	box-shadow: 0 3px 10px var(--primary-shadow);
	padding: 10px;
	margin: 10px;
}

/* div .project-container .project-card {
	padding: 3rem;
} */
/* contact section  */
.contact {
	margin-top: 2rem;
}

.contact h2 {
	text-align: center;
	margin-bottom: var(--bottom-margin-2);
	color: #35618d;
}

.contact-form-container {
	max-width: 40.75rem;
	margin: 0 auto;
	padding: 0.938rem;
	border-radius: 5px;
	box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
	line-height: 2.7em;
	font-weight: var(--bold-font);
	color: var(--primary-color);
}

.contact-form-container textarea {
	min-height: 6.25rem;
	font-size: 14px;
}

.contact-form-container .input-field {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;

	border: 2px outset var(--primary-color);
	font-size: 0.875rem;
	outline: none;
}

.input-field::placeholder {
	padding: 0.5rem;
	color: var(--primary-color);
	box-sizing: border-box;
	font-size: medium;
}

.input-field {
	padding-left: 2rem;
}

.submit-btn {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	background-color: #fff;
	border: 2px solid var(--primary-color);
	border-radius: 5px;
	font-size: 1rem;
	font-weight: var(--bold-font);
	transition: var(--transition);
}
.submit-btn:hover {
	background-color: var(--primary-color);
	border: 2px solid var(--primary-color);
	cursor: pointer;
}

/* socials  */
.socials {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 1%;
	bottom: 50%;
}

.socicon {
	width: 2rem;
	height: 2rem;
	margin-left: -1rem;
}

/* footer */
footer {
	background-color: var(--bg-color);
	padding: 1.25rem;
	text-align: center;
	margin: 2rem 0 0;
}

.scroll-up {
	position: fixed;
	right: 0%;
	margin-right: 4rem;
	bottom: 2%;
	cursor: pointer;
}

.up-arrow {
	margin-right: -7rem;
	width: 2rem;
	height: 2rem;
}

/* media query */
@media screen and (max-width: 720px) {
	/*changes reflects on screen with a width of 720px and below*/
	nav {
		padding: 1.5rem 1rem;
	}
	project-card {
		flex-direction: column;
		background-color: #fff;
		border-radius: 11px;
		box-shadow: 0 3px 10px var(--primary-shadow);
		padding: 10px;
		margin: 10px;
		justify-content: center;
		align-content: center;
	}

	nav ul {
		position: fixed;
		background-color: var(--bg-color);
		flex-direction: column;
		top: 86px;
		left: 10%;
		width: 80%;
		text-align: center;
		transform: translateX(120%);
		transition: transform 0.5s ease-in;
	}

	nav ul li {
		margin: 8px;
	}
	.burger-menu {
		display: block;
	}

	nav ul.show {
		transform: translateX(0);
	}
	.hero {
		margin-top: 4rem;
		flex-direction: column;
		gap: 0;
	}

	.hero img {
		height: 32.5rem;
		width: 20rem;
	}

	.bio {
		margin-top: 3rem;
		width: 20.5rem;
	}
	.more-about {
		margin-top: 2rem;
		padding: 1rem 3.5rem;
		text-align: justify;
	}

	.more-about h2 {
		text-align: center;
	}

	.more-about p {
		text-align: justify;
	}
	.icon {
		width: 5.875rem;
		height: 5.25rem;
	}
	.projects-container {
		flex-direction: column;
		margin-left: auto;
		align-items: center;
		align-self: center;
		justify-self: center;
	}

	.project-container {
		width: 20.875rem;
	}
	.contact-form-container {
		max-width: 23.75rem;
	}

	section #projects .projects {
		margin-top: -4rem;
	}
}

@media screen and (max-width: 420px) {
	.hero img {
		height: 20.5rem;
		width: 16rem;
		margin-top: 3rem;
	}

	.bio {
		width: 18.3rem;
	}

	.project-container {
		width: 17.875rem;
	}

	.contact-form-container {
		max-width: 17.75rem;
	}

	.text-animation .fade-in {
		animation: slideInRight 1s ease-out forwards;
	}

	/* Animation for text rotation */

	/* CSS */
	.fade-in {
		animation: fadeIn ease 2s;
		-webkit-animation: fadeIn ease 2s;
		-moz-animation: fadeIn ease 2s;
		-o-animation: fadeIn ease 2s;
		-ms-animation: fadeIn ease 2s;
		display: flex;
	}
	div .fade-in {
		margin-top: 14rem;
		display: flex;
	}
}

/* text animations logo */
@keyframes fade-in {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

.text-animation .fade-in {
	animation: slideInRight 1s ease-out forwards;
}

Animation for text rotation CSS .fade-in {
	animation: fadeIn ease 2s;
	-webkit-animation: fadeIn ease 2s;
	-moz-animation: fadeIn ease 2s;
	-o-animation: fadeIn ease 2s;
	-ms-animation: fadeIn ease 2s;
}

@keyframes typing {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* CSS */
.fade-in {
	color: #cf8a09a7;
	font-size: 30px;
	border-right: 0.15em solid orange;
	white-space: nowrap;
	letter-spacing: 0.15em;
	animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

/* image rotation
/* CSS
.icon {
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
} */

/* CSS */
/* .icon-card {
	animation: rotate-scale 3s infinite linear;
}

@keyframes rotate-scale {
	0% {
		transform: rotate(0deg) scale(2);
	}
	10% {
		transform: rotate(0deg) scale(0.5);
	}
	100% {
		transform: rotate(30deg) scale(1);
	}
} */

/* CSS
.icon :hover {
	animation: spin 2s linear infinite;
}

@keyframes spin {
	100% {
		transform: rotate(30deg);
	}
	100% {
		transform: rotate Y(360deg);
	}
} */

/* animate the menu items */
.projects-container li {
	opacity: 0;
	transform: translateX(-20px);
	animation: slideIn 0.5s ease forwards;
}

/* animate the burger icon */
.projects-container {
	cursor: pointer;
	animation: fadeIn 0.5s ease forwards;
}

/* keyframe animations */
@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

/* project details  */
.project-details {
	cursor: pointer;
	animation: fadeIn 0.1s ease-in-out forwards;
}

/* text typing animation */
.text-animation {
	animation: typing 1.5s steps(30, end), blink-caret 0.5s step-end infinite;

	/* The typing effect */
	@keyframes typing {
		from {
			width: 0;
		}
		to {
			width: 100%;
		}
	}

	/* The typewriter cursor effect */
	@keyframes blink-caret {
		from,
		to {
			border-color: transparent;
		}
		50% {
			border-color: orange;
		}
	}
}
